<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<form action="/answer">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="your_question" placeholder="Ask your question">
  <input type="submit" value="Go on!">
</form>
